{% if new_books_list %}
    {% for book in new_books_list %}
    	<div class="span4 home-box">
        <a href="{% url books:book_details book.id %}">
          {% if book.cover %}
          	<img src="{{ MEDIA_URL }}{{ book.cover }}" style="height:180px;margin-bottom:10px;" title="{{ book.title }} cover" />
          {% else %}
          	<img src="/static/img/no-cover.jpg" style="height:180px;margin-bottom:10px;" title="No cover for this book" />
          {% endif %}
        </a>
        <div class="title">
          <a href="{% url books:book_details book.id %}">
            <h4>{{ book.title|slice:":20" }}{% if book.title|length > 20 %}...{% endif %}</h4>  
          </a>
          <h5>{{ book.author.first_name }} {{ book.author.last_name }}</h5>
        </div>
        <div style="clear:both;"></div>
      </div><!--/span-->
    {% endfor %}
{% endif %}